.App {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

::selection {
  background-color: #7d1eff!important;
  color: #fff;
}